.container {
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-2);
  gap: var(--size-4);
}

.section {
 border: 1px solid var(--gray-5);
 padding: var(--size-2);
 justify-content: center;
}

.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: var(--size-2);
  font-size: var(--font-size-1);
  max-width: var(--size-sm);
}

.list li {
  padding: 0;
  padding: var(--size-2);
  background-color: var(--gray-1);
  line-height: var(--font-lineheight-0);
}