.top-nav-bar {
  padding: var(--size-3) var(--size-4);
}

.nav-links {
  display: flex;
  gap: var(--size-2);
  list-style-type: none;
  padding: 0;
}

.nav-link {
}

.nav-link.active {
  background-color: aquamarine;
}